.background{
    background-image: linear-gradient(45deg, rgb(185, 0, 185), rgb(179, 70, 179), rgb(238, 135, 152), pink, rgb(250, 250, 160));
    background-size: 400%;
    animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right}
}
.gallery-2{
    border-radius: 2.5%;
    width: 50vw;
    padding: 3em;
    box-shadow: 0 0 1em black;
    margin: 0 auto;
}
img{
    width: 400px;
    height: auto;
}
.style-font{
    font-family: 'Reenie Beanie', cursive;
    font-size: 80px;
    text-align: center;
}
.style-font-two{
    font-family: 'Reenie Beanie', cursive;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.418);
    border-radius: 2.5%;
    width: 70vw;
    padding: 3em;
    box-shadow: 0 0 1em black;
    margin: 0 auto;
}
*{
    text-align: center;
    font-size: 30px;
    font-family: 'Reenie Beanie', cursive;
}
.internal-links{
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
    font-size: 25px;
    padding: 1%;
}
a{
    text-decoration: underline;
    color: black;
}
a:visited {
    color: black;
}
a:hover, a:focus {
    color: dodgerblue;
}
a{
    font-size: 33px;
}
img{
    border-radius: 15%;
}